* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* HEADER */

header {
  width: 100%;
  margin: 0 auto;
  padding: 35px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
header h1 {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #34373c;
  text-transform: uppercase;
  border: 2.5px solid #34373c;
  padding: 8px;
  cursor: pointer;
}

/* MENU DESKTOP */

header nav {
  display: flex;
  flex-wrap: wrap;
}

header nav li {
  margin-right: 30px;
}

header nav li:last-child {
  margin-right: 0px;
}

header nav li a {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #34373c;
  text-transform: uppercase;
  padding: 8px;
  border: 2.5px solid transparent;
}

header nav li a:hover,
header nav li a:focus {
  border-color: #34373c;
}

@media (max-width: 722px) {
  header {
    flex-direction: column;
  }

  header h1 {
    margin-bottom: 35px;
  }

  header nav li {
    margin-bottom: 7px;
  }
}

/* APRESENTAÇÃO */

.apresentacao {
  width: 60%;
  margin: 0 auto;
  padding-top: 70px;
}

.apresentacao h2 {
  font-size: 36px;
  font-weight: 700;
  color: #34373c;
  margin-bottom: 35px;
}

p {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-style: italic;
  font-size: 24px;
  color: #34373c;
}