* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


/* HEADER */

header {
  width: 100%;
  padding: 25px calc((100% - 1290px) / 2);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
header h1 {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: #34373c;
  text-transform: uppercase;
  border: 2.5px solid #34373c;
  padding: 8px;
  cursor: pointer;
}

/* MENU DESKTOP */

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header nav li {
  margin-right: 30px;
}

header nav li:last-child {
  margin-right: 0px;
}

header nav li a {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #34373c;
  text-transform: uppercase;
  padding: 8px;
  border: 2.5px solid transparent;
}

header nav li a:hover,
header nav li a:focus {
  border-color: #34373c;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header h1 {
    margin-bottom: 35px;
  }

  header nav li {
    margin-bottom: 7px;
  }
}